@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html, body {
    height: 100%;
    width: 100%;
    cursor: none;
    overflow-x: hidden;
}

#main {
    position: relative;
    z-index: 10;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 25px;
    border: 1px solid white;
    border-radius: 50px;
    font-weight: 500;
    color: white;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 9;
}
@media (max-width: 768px) {
    .responsive-text {
      color: white !important;

    }
  }
  
  @media (min-width: 769px) {
    .responsive-text {
      color: black !important;
    }
  }
  

#nav-part2 h4:hover a {
    color: black;
}

nav h3 {
    display: none;
}

#center {
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}

#left h3 {
    width: 25vw;
    font-size: 2vw;
    line-height: 2vw;
}

#center h1 {
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}

#page1 video {
    position: relative;
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;
}

#hero-shape {
    position: absolute;
    width: 55vw;
    height: 50vw;
    right: 0;
    top: 50vh;
}

#hero-1 {
    background-color: #1665f8;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(25px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(#1665f8, #1665f8);
    height: 50vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(30px);
}

#hero-3 {
    background: linear-gradient(#1665f8, #1665f8);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(40px);
    animation-name: anime1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -8%);
    }
    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }
    to {
        transform: translate(-20%, 30%);
    }
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: black;
    padding: 8vw 0;
    position: relative;
}

#moving-text {
    overflow-x: auto;
    white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.con h1 {
    color: white;
}

#moving-text h1 {
    font-size: 9vw;
    display: inline-block;
}

#gola {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: #1665f8;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 80vh;
    width: 100%;
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

#page2-bottom h1 {
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
    color: white;
}

#bottom-part2 {
    width: 20%;
}

#bottom-part2 img {
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p {
    font-weight: 300;
    margin-top: 2vw;
    font-size: medium;
    color: white;
}

#page2 #gooey {
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #1665f8, #0444bb);
    top: 58%;
    left: 25%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@media (max-width: 768px) {
    #page2 #gooey {
      transform: translateY(-30vh) !important;

    }
  }
@keyframes gooey {
    from {
        filter: blur(30px);
        transform: translate(10%, -10%) skew(0);
    }
    to {
        filter: blur(40px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: black;
    padding: 4vw 0;
}

.elem h2:last-child {
    margin-right: 0;
}

.elem {
    height: 130px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #38383864;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    justify-content: space-between;
}
@media (max-width: 768px) {
    #bottom-part2 {
      width: 100% !important;
      max-width: none;
      margin: 0;          /* remove auto‐margins */
      padding: 0 1rem; 
      margin-top: 4cm;   /* optional side padding */
    }
    /* if you want the Next.js <Image> to also fill */
    #bottom-part2 img {
      width: 100% !important;
      height: 10cm !important;
    }
  }

.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
    margin-right: 2vw;
    color: white;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: #1665f8;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.25s;
}

.elem:hover .overlay {
    top: 0;
}

#fixed-image {
    height: 30vw;
    width: 24vw;
    border-radius: 15px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}

#page4 {
    height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 30%;
    border-left: 1px solid #aeadad;
    padding: 0 2vw;
}

#page5 {
    height: 100vh;
    width: 100%;
}

#footer {
    position: fixed;
    height: 105vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
}

#page5 {
    height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
}

#page5 .slides-container {
    display: flex;
    width: 100%;
    height: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#page5 .slide {
    flex: 1;
    padding: 2rem;
    position: relative;
}

#page5 .slide:not(:last-child) {
    border-right: 1px solid #ddd;
}

#page5 .slide h3 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

#page5 .slide-content {
    margin-top: 2rem;
}

#page5 .slide-content p {
    font-weight: 100;
    line-height: 1.6;
}

#footer h1 {
    font-size: 23vw;
}

#footer-div {
    height: 20vh;
    width: 100%;
    background-color: transparent;
}

#footer-bottom {
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
}

#full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
}

#full-div1 {
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#loader {
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1 {
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right, orange, orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

#loader h1:nth-child(2) {
    animation-delay: 2s;
}

#loader h1:nth-child(3) {
    animation-delay: 3s;
}

@keyframes load {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#right {
    position: relative;
    top: -3cm;
    color: white;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: right;
    position: relative;
    right: 0;
    margin-right: 10px;
    color: white;
}

#left {
    color: white;
}

@media (max-width: 700px) {
    #page1 {
        min-height: 100vh;
        width: 100%;
        padding: 0;
    }

    nav {
        padding: 8vw 5vw;
        background-color: #EFEAE3;
    }

    nav img {
        transition: all ease 0.2s;
        height: 9vh;
    }

    #nav-part2 {
        display: none;
    }

    nav h3 {
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
    }

    #center {
        height: 62vh;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding: 7vw 5vw;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
    }

    #left h3 {
        width: 80%;
        font-size: 5.5vw;
        line-height: 6vw;
        margin-bottom:1rem;
    }

    #right {
        top: 0;
    }

    #center h1 {
        font-size: 17vw;
        text-align: right;
        line-height: 15vw;
    }

    .subtitle {
        font-size: 4vw;
        margin-right: 0;
        text-align: right;
    }

    #page1 video {
        position: relative;
        border-radius: 15px;
        margin-top: 4vw;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        width: 92%;
        margin-left: 4%;
    }

    #hero-shape {
        width: 80vw;
        height: 80vw;
        margin-top: -20vw;
        right: 0;
    }

    #hero-1, #hero-2, #hero-3 {
        width: 100%;
        height: 100%;
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        background-color: black;
        padding: 8vw 0;
        position: relative;
    }

    #moving-text {
        overflow-x: auto;
        white-space: nowrap;
    }

    #moving-text::-webkit-scrollbar {
        display: none;
    }

    .con {
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    #moving-text h1 {
        font-size: 15vw;
        display: inline-block;
    }

    #gola {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
        background-color: #1665f8;
        margin: 2vw 2vw;
    }

    #page2-bottom {
        height: 90vh;
        width: 100%;
        padding: 10vw 4vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
        z-index: 9;
    }

    #page2-bottom h1 {
        font-size: 8.2vw;
        width: 100%;
        line-height: 9vw;
    }

    #bottom-part2 {
        width: 70%;
    }

    #bottom-part2 img {
        width: 100%;
        border-radius: 10px;
    }
    .services {
        /* move it down by 3cm only on phones */
        margin-bottom:-4cm !important;
        margin-top: 7cm;
      }

    #bottom-part2 p {
        font-weight: 300;
        margin-top: 2vw;
        font-size: 4vw;
    }

    #page2 #gooey {
        height: 62vw;
        width: 62vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(to top right, #1665f8, #054fd7);
        top: 58%;
        left: 25%;
        filter: blur(20px);
        animation-name: gooey;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }

    #page3 {
        min-height: 100vh;
        width: 100%;
        padding: 8vw 4vw;
    }
    #elem-container {
        margin-top: -1cm !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        flex-direction: column;
        margin-left: -0.8cm !important;
        gap: 15px !important;
    }
    
   
      /* Make each button full width with only 2px margin on sides */
      #elem-container .group {
        flex: none !important;
        width: 100% !important;
        font-size: 1.4rem !important;
        padding: 15px !important;
        box-sizing:content-box;
      }
    #elem-container a.group .arrow {
        font-size: 4vw;
    }

    #page3 > div > div > div > div:first-child {
        margin-bottom: 50px;
        margin-top: -50px;
    }

    #page3 > div > div > div > div:first-child h2 {
        font-size: 8vw;
    }

    #page3 > div > div > div > div:last-child {
        padding-left: 0.5cm;
        padding-right: 0.5cm;
        margin-top: 30px;
    }

    #page3 > div > div > div > div:last-child video {
        border-radius: 10px;
    }
    .video-container {
        margin-top: 50px;
        width: calc(100vw - 2px); /* Full viewport width minus 2px */
        margin-left: auto;
        margin-right: auto;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
      
      
      /* force the video to be exactly 10cm wide */
      .mobile-video {
        width: 30cm !important;
        height: auto !important;
        margin: 0 auto; /* center it horizontally */
        display: block;
      }
    #loader h1 {
        font-size: 9vw;
    }

    #arrow-container {
        margin-top: 10px;
    }

    #arrow-container span {
        font-size: 18px;
    }
}